body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    width: 100%;
    margin: 0;
    background: #802323;

}

header {
    height: 50px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 2px;
    border-bottom: 2px solid #AA2626;
    margin-bottom: 20px;
    line-height: 45px;
    background: #CA0404;
}

header a {
    margin-top: 10px;
    width: 33%;
    color: #fff;
    text-decoration: none;
    padding: 77px; 
}

img {
    height: 150px;
    width: 175px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
}

.headwrap {
    position: relative;
    width: 650px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 20px;
}

.item-grid-unit {
    width: 26%;
    height: 300px;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 18px;
    text-align: center;
    display: inline-block;
    margin: 10px 10px;
    font-size: 10px;
    background: white;
    text-decoration: none;
}

.item-grid-unit:hover {
    color: #000;
    background: #ececec;
}

.item-full {
    width: 650px;
    min-height: 300px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 15px;
    margin-top: 70px;
}

.item-full h1 {
    font-size: 50px;
    text-decoration: none;
}

