body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    width: 100%;
    margin: 0;
    background: #802323;

}

header {
    height: 50px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 2px;
    border-bottom: 2px solid #AA2626;
    margin-bottom: 20px;
    line-height: 45px;
    background: #CA0404;
}

header a {
    margin-left: 50px;
    margin-right: 50px;
    width: 33%;
    color: #fff;
    text-decoration: none;
}

button {
    margin-right: 15px;
    float: right;
    width: 200px;
    height: 35px;
    margin-top: 22px;
}

img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-top: 3px;
    margin-left: 10px;    
}

input.input-field {
    margin: 0 auto;
    width: 150px;
    display: block;
}

.fullH1 {
    display: inline-block;
    color: white;
}

#fullH1 {
    display: inline-block;
}

#github {
    color: white;
}

#email {
    color: white;
    margin-bottom: 0px;
}

.save {
    position: relative;
    bottom: -190px;
    left: 185px;
}

#phone {
    color: white;
    margin-bottom: 0px;
}

/*edit button*/
.edit {
    position: relative;
    bottom: 65px;
    right: -5px;
    }

.save-button {
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 15px;
    float: center;
}

#full-avatar {
    float: right;
    height: 175px;
    width: 175px;
    border-radius: 5px;
    position: relative;
    right: 25px;
    top: 15px;
}

.headwrap {
    position: relative;
    width: 650px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 800px;
    margin-bottom: 20px;
}

.item-grid-unit {
    height:75px;
    border-radius: 4px;
    border: 1px solid #acacac;
    display: block;
    margin: 10px 10px;
    font-size: 10px;
    background: white;
    text-decoration: none;
}

.item-grid-unit:hover {
    color: #000;
    background: #ececec;
}

.name {
    font-size: 30px;
    position: relative;
    margin-left: 20px;
    top: 20px;
}

.item-full {
    width: 650px;
    min-height: 280px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 15px;
    margin-top: 70px;
}

.edit-student {
    width: 650px;
    min-height: 280px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #acacac;
    padding: 15px;
    margin-top: 70px; 
}


.item-full h1 {
    text-decoration: none;
    position: relative;
    top: -28px;
}

.item-grid-unit h1 {
    margin: 0 auto;
}

.edit-student span{
    color: white;
}

#firstName-input, 
#lastName-input,
#phone-input,
#email-input, 
#github-input,
#full-avatar-url-input {
    display: block;
    width: 300px;
}
.save-edit-button {
    position: relative;
    left: 175px;
    bottom: 27px;
    margin: 0 auto;
}
#full-avatar-edit {
    float: right;
    height: 175px;
    width: 175px;
    border-radius: 5px;
    position: relative;
    right: 25px;
    bottom: 200px;
}